<div class="landing container-fluid">
  <div class="hero d-flex flex-column align-items-center my-3">
    <div class="message-line">
      Welcome
    </div>
    <div class="message-line">
      to
    </div>
    <div class="message-line">
      Shasin SNS!
    </div>
  </div>
  <div class="links d-flex flex-column align-items-center">
    <span>※Facebook Loginは無効化中です。</span>
    <div class="login-link">
      <%= link_to "#", class: "btn-facebook" do %>
        <i class="fab fa-lg fa-facebook-square pr-2"></i>Sign in with Facebook
      <% end %>
    </div>
    <div class="login-link">
      <%= link_to login_path, class: "btn btn-login" do %>
        Login
      <% end %>
    </div>
  </div>
</div>
