<nav id="top-nav" class="navbar-expand fixed-top navbar-light bg-white">
  <div class="row m-2 justify-content-between">
    <div class="col">
      <%= link_to "Shasin SNS", root_url, class: "navbar-brand logo"%>
    </div>
    <div class="col">
      <div class="dropdown float-right">
        <% if user_signed_in? %>
          <button class="btn text-dark" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-lg fa-user"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to "プロフィール", "/#{current_user.name}", class: "dropdown-item" %>
            <%= link_to "ログアウト", logout_path, method: :delete, class: "dropdown-item" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
