<div class="modal fade" id="users-modal" tabindex="-1" role="dialog" aria-labelledby="users-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="users-modal-label"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- ユーザーをrenderするul -->
        <ul class="user-list">
        </ul>
      </div>
    </div>
  </div>
</div>
