@import "custom.scss";

.article {
  img {
    width: 100%;
  }

  input {
    outline: 0;
    border: none;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  }

  .user-name {
    font-weight: 600;
  }

  .user-info {
    a {
      text-decoration: none;
      color: $my-black;
    }

    img {
      max-width: 40px;
      border-radius: 50%;
    }
  }

  .likes-count button{
    color: $my-black;
    font-weight: 00;
  }

  .show-more-comments-button {
    color: #999999;
    font-weight: 500;
  }

  .liked-users-button {
    font-weight: 600;
  }

  .comment-button {
    font-weight: 500;
  }

  .unlike-button {
    color: #ff3450;
  }

  form[id^="comment-delete"] {
    display: inline;
  }

  .created-at {
    font-size: 10px;
    color: #999999;
  }
}

#feed-items .article {
  margin-bottom: 60px;
  border: #{$border-thin};
  border-radius: 3px;
  background-color: #ffffff;
}
