@import "custom.scss";

#feed-items .post {
  margin-bottom: 60px;
  border: #{$border-thin};
  border-radius: 3px;
  background-color: #ffffff;

  img {
    width: 100%;
  }

  input {
    outline: 0;
    border: none;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  }

  .user-name {
    font-weight: 600;
  }

  .likes-count button{
    color: $my-black;
    font-weight: 00;
  }

  .show-more-comments-button {
    color: #999999;
    font-weight: 500;
  }

  .liked-users-button {
    font-weight: 600;
  }

  .comment-button {
    font-weight: 500;
  }

  .unlike-button {
    color: #ff3450;
  }

  form[id^="comment-delete"] {
    display: inline;
  }
}
