.logo{
  font-family: 'Lobster', cursive;
}

.links .login-link {
  padding-top: 10px;
}

.btn-facebook {
  background-color: #3966b8;
  border-radius: 3px;
  box-shadow: 0px 2px 1px rgba(0,0,0,0.3);
}

.btn-facebook {
  background-color: #3966b8;
  border-radius: 3px;
  box-shadow: 0px 2px 1px rgba(0,0,0,0.3);
}

a.btn-facebook {
  color: #ffffff;
  font-weight: 600;
}

.hero {
  font-size: 40px;
  font-weight: 600;
  line-height: 1em;
  font-family: 'Lobster', cursive;
}
