/* user profile */
.user-profile {

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  }

  .user-name, .display-name {
    font-weight: 600;
  }

  .config-button {
    color: #999999;
  }

  .relations {
    .count {
      font-weight: 600;
      font-size: 1.3rem;
    }

    .label {
      color: #999999;
    }
  }

}

.user-picture img{
  border-radius: 50%;
}

.user-articles .row .col:last-child {
  padding-right: 0;
}
