/* user profile */
.user-profile {
  .picture img {
    width: 100%;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  }

  .user-name {
    font-weight: 600;
  }

  .config-button {
    color: #999999;
  }

}
