@import "custom.scss";
/* user profile */
.user-profile {

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  }

  .user-name, .display-name {
    font-weight: 600;
  }

  .config-button {
    color: #999999;
  }

  .relations {
    .count {
      font-weight: 600;
      font-size: 1.3rem;
    }

    .label {
      color: #999999;
    }
  }

}

.user-picture img{
  border-radius: 50%;
}

.user-name {
  font-weight: 600;
}

.user-info {
  a {
    text-decoration: none;
    color: $my-black;
  }

  img {
    max-width: 40px;
    border-radius: 50%;
  }
}
